{%extends 'base.html'%}
{%block title%}Prediksi gambar{%endblock%}

{%block content%}

<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#blah')
                .attr('src', e.target.result)
                .width(250)
                .height(250); 
      };
    reader.readAsDataURL(input.files[0]);
    }
  }
</script>

<h1 style="text-align : center; font-size : 90px; margin-top : 70px;"> Prediksi Gambar </h1>

<form action='/predict' id="form-predict" method='POST' enctype = "multipart/form-data">
  <div class='container'>
    <div class="row" style="margin-top : 120px;position:relative">
        <div class="col-md-4">
            <div class="card" style="background-color :#E7E7E7">
              <h5 style="padding : 10px">Step1</h5>
                <div class="card-body">
                    <p style="text-align : center">
                        Preset Model:
                        <br/>
                        <select name='model' size='5' style="width:75%;margin:auto">
                          <option value='default' selected>Default</option> 
                          {%for item in model%}
                            <option value={{item}}>{{item}}</option>
                          {%endfor%}
                        </select>
                    </p>
                </div>
            </div>
        </div>
      <div class="col-md-4">
        <div class="card" style="background-color :#E7E7E7">
          <h5 style="padding : 10px">Step2</h5>
            <div class="card-body">
                <p style="text-align : center">
                    Pilih Gambar yang akan diuji:
                    <br/>
                      <input type="file" name='img' id="imgPredik" size="50" style="font-size : 11px" name="test" accept="image/*" onchange="readURL(this)">
                    <img id="blah" src="#" alt="your image" style="padding-top : 10px"/>
                  </p>
            </div>
          </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="background-color :#E7E7E7">
          <h5 style="padding : 10px">Step3</h5>
            <div class="card-body">
              <p style="text-align : center">
                Hasil prediksi:
              </p>
              <div id='result'>
                <p>Angka terdeteksi: </p><span id='detected'></span>
                <p>Akurasi: </p><span id='acc'></span>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <p style="text-align : center">
    <input type=submit  class="btn btn-success" style="padding : 14px">
  </p>
</form>
<div id="loading_predict" style="display: none;">
  <!--<img src="{{ url_for('static', filename='loading.gif')}}" title="Predicting data">-->
  <h2>Training ...</h2>
</div>

<div class="progress">
  <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
</div>
{%endblock%}

